body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display:flex;
    flex-flow: column wrap;
}

/* Header */
.header{
    background-color: #1f2937;
    color: #f9faf8;
}

.header-top, .header-bottom{
    display: flex;
}

.header-top{
    justify-content: space-evenly;
}

.header-logo{
    font-size: 24px;
    font-weight: bold;
}

.header-bottom{
    justify-content: center;
    margin: 25px 50px 25px 50px;
    padding: 25px 50px 25px 50px;
}

.title{
    padding-right: 50px;
}

.bold-title{
    font-size: 48px;
    font-weight: bolder;
    padding-right: 30px;
    margin-bottom: 15px;

}

.subtitle{
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #ffff;
    margin: 5px;
  }

  /*TODO add rounded corners to button*/ 
.sign-up-button{
    background-color: #3882F6;
    color:#e5e7eb;
    border: 0;
    margin-top: 10px;
    padding: 8px;
    border-radius: 10px;
    width: 100px;
}

/* Content number 1 */
.content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 25px;
}
.content-title{
    color: #1f2937;
    font-weight: bolder;
    font-size: 36px;
}

.container-illustration{
    display: flex;
    flex-direction: row;
}

.container-cards{
    display: flex;
    flex-direction: column;
    margin: 35px;
    align-items: center;
}

.content-cards{
    border-radius: 25px;
    border: 2px solid #3882F6;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}


/* Content number 2 */
.container-quote{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    background-color: #e5e7eb;
    padding: 75px 25% 75px 25%;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937
}

.author{
    font-weight: bold;
    color: #1f1f1f;
}

/* Content number 3 */
.container-sign-up{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    border-radius: 5px;
    margin: 75px 15% 75px 15%;
}

.container-sign-up .content{
    text-align: left;
    color:#e5e7eb;
}

.container-sign-up .sign-up-button{
    border: 2px solid #e5e7eb;
    font-weight: bold;
    height: 35px;
    margin:15 px;
}

/* Footer */
.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
}

.footer .content-footer{
    padding: 10px;
}